@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Josefin+Sans:ital,wght@0,300;0,400;1,400&family=Kanit:ital,wght@0,300;1,400&family=Signika:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btnPrimario {
  font-family: "Josefin Sans", sans-serif;
  background-color: #5f63d2;
  border: none;
  padding: 0.5em;
  border-radius: 0.2rem;
  color: white;
  transition: all linear 0.2s; }
  .btnPrimario:hover {
    background-color: #504bc5; }

.cardContePro {
  box-shadow: 0px 0px 1rem 0rem #7e717e;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 0em; }

.cardContImg {
  width: 90%;
  overflow: hidden; }
  .cardContImg img {
    width: 100%;
    transition: all ease-in-out 0.5s; }
    .cardContImg img:hover {
      transform: scale(1.02); }

.cardInfo {
  width: 100%;
  display: flex;
  padding: 0.5em; }

.cardInfoLabel {
  margin: 0.2em 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem; }
  .cardInfoLabel textarea {
    width: 100%;
    resize: vertical;
    outline: none;
    padding: 0.2em; }
    .cardInfoLabel textarea:focus {
      border: solid 1px #4b41b4;
      box-shadow: 0px 0px 2px 0px #282348;
      color: #4b41b4;
      background-color: #e2e4f7; }
    .cardInfoLabel textarea::-webkit-scrollbar {
      width: 0px; }
  .cardInfoLabel input {
    outline: none;
    border-width: 1px;
    padding: 0.2em; }
    .cardInfoLabel input:focus {
      border: solid 1px #4b41b4;
      box-shadow: 0px 0px 2px 0px #282348;
      color: #4b41b4;
      background-color: #e2e4f7; }
    .cardInfoLabel input::-webkit-scrollbar {
      width: 0px; }

.cardInfoLabelV0 {
  width: 80%;
  margin: 0.2em 0; }
  .cardInfoLabelV0 input {
    margin: 0 0.5em; }

.cardInfoFooter {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

/**carrito*/
.cardConteProCarr {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-image: radial-gradient(#443a93, white) 1;
  display: flex;
  width: fit-content; }

.imgProCarrito {
  width: 10rem; }
  .imgProCarrito img {
    width: 100%; }

.cardinfoProCarrito {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20rem; }

.cardCantidadProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; }

.cardPrecioTotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-left: 2rem; }

.header {
  background: #333244;
  /* fallback for old browsers */
  background: linear-gradient(to right, #443a93, #504bc5, #443a93);
  font-family: "Josefin Sans", sans-serif;
  color: white; }
  .header .logito {
    padding: 0.5em;
    font-size: 1.5rem;
    text-align: center; }

.nav .navLink {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em 0; }
  .nav .navLink li {
    list-style: none; }
    .nav .navLink li a {
      text-decoration: none;
      color: white;
      display: block;
      position: relative; }
      .nav .navLink li a:hover {
        color: #bbc56c; }
      .nav .navLink li a svg {
        width: 2rem; }
      .nav .navLink li a strong {
        font-size: 1.3rem;
        border: dashed #8fe405;
        padding: 0.2em 0.4em 0.1em 0.4em;
        border-radius: 50%;
        position: absolute;
        top: -1.2rem;
        right: -1.2rem;
        color: white; }

.nav .buscardorFiltros {
  background-color: white;
  color: #0f0c29;
  padding: 0.5em 0.4em;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  gap: 1rem; }
  .nav .buscardorFiltros .buscador {
    position: relative;
    display: flex;
    align-items: center; }
    .nav .buscardorFiltros .buscador .inputBuscador {
      border-radius: 2rem;
      border: solid #4b41b4 1px;
      font-size: 1.5rem;
      padding: 0.1em 0.2em 0.1em 1.2em; }
    .nav .buscardorFiltros .buscador svg {
      fill: #282348;
      width: 1.2rem;
      position: absolute;
      left: 8px; }
  .nav .buscardorFiltros .selector {
    font-size: 1.2rem;
    color: #4b41b4;
    border-color: #4b41b4;
    border-radius: 1rem;
    transition: all linear 0.2s; }
    .nav .buscardorFiltros .selector:hover {
      background-color: #f2f3fc; }
  .nav .buscardorFiltros .nuevoProducto {
    display: none;
    padding: 0.1em 0.7em 0 0.7em;
    font-size: 1rem;
    border-radius: 100%;
    color: #4b41b4;
    background-color: transparent;
    transition: all linear 0.2s;
    border: solid #4b41b4 1px; }
    .nav .buscardorFiltros .nuevoProducto:hover {
      background-color: #f2f3fc; }

.main {
  border: 1px #3e2f2f solid;
  padding: 0.2em;
  display: flex;
  justify-content: center;
  gap: 1rem; }

.cuerpoMain {
  width: 80%;
  font-family: "Josefin Sans", sans-serif; }

.productos {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em; }

.disabledInput {
  color: #4b41b4;
  border: solid 1px #4b41b4; }

.aside {
  background: linear-gradient(to top, #a7afe9, #504bc5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0.3rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 0.5em;
  width: 20%;
  padding: 0.4em;
  margin: 0.5rem 0 0 0.5rem;
  color: white; }
  .aside a {
    color: #5f63d2; }
    .aside a:hover {
      color: #443a93; }

.imgUsuario {
  border: solid #fffdfd 2px;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  overflow: hidden; }
  .imgUsuario img {
    width: 100%;
    object-fit: cover; }

.informacionUsuario li {
  list-style: none;
  font-size: 1.2rem; }

.mainRegistrar {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif; }
  .mainRegistrar .mainTitulo {
    color: white;
    margin-bottom: 0.5rem; }
    .mainRegistrar .mainTitulo a {
      text-decoration: none;
      color: white; }

.mainFormRegistrar {
  border: solid 1px #ece8e8;
  width: 25rem;
  padding: 0.5em; }
  .mainFormRegistrar .footerFormRegistrar {
    border-top: solid white 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.2em; }
    .mainFormRegistrar .footerFormRegistrar a {
      color: white; }

.formImg {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem; }
  .formImg .contenedorImg {
    width: 10rem;
    height: 10rem; }
    .formImg .contenedorImg img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
      border: solid white 1px;
      box-shadow: 0px 0px 9px #f7f7f7; }

.formInput {
  display: flex;
  flex-direction: column;
  padding: 0.2em;
  color: white; }
  .formInput input {
    border: none;
    font-size: 1rem;
    padding: 0.2em;
    border-radius: 0.2rem; }
  .formInput p {
    margin-top: 0.4rem;
    color: #f50e9c;
    font-size: 0.9rem; }

.detalleCarrito {
  border-radius: 0.2rem;
  line-height: 2rem;
  padding: 0.5em;
  margin-top: 0.5rem;
  background-color: #DCD9D4;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
  background-blend-mode: soft-light, screen; }

.productosComprados {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em; }

.mainLogin {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.formLogin {
  margin-top: 1rem;
  width: 20rem;
  border: white solid 1px;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 1rem;
  text-align: center; }
  .formLogin .inputLogin {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
    .formLogin .inputLogin input {
      font-size: 1.2rem;
      border-radius: 0.2rem;
      border: none;
      padding: 0.2em; }

.mensajeError {
  color: #f50e9c;
  margin-top: 1rem; }
