@import "utilitis/variable";
@import "bas/reset";

@import "layout/header";
@import "layout/aside";
@import "layout/mainRegistrar";
.main{
    margin-top: 1em;
    border: 1px rgb(62, 47, 47) solid;
}

.productos{
    padding: 0.5em;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 0.5em;
}

.producto{
    border: red solid 1px;
    display: flex;
    flex-direction: column;
}

.imgProducto{
    border: blue 1px solid;
    width: 20rem;
}
.imgProducto img{
    width: 100%;
}

/** Carrito*/
.detalleCarrito{
    border: solid black 1px;
    background-color: blueviolet;
}
.productosComprados{
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.productoCarrito{
    border: red solid 1px;
    
}
.imgProCarrito{
    border: solid 1px yellow;
    width: 15rem;
}
.imgProCarrito img{
    width: 100%;
}
.infoProCarrito{
   
    display: flex;
    flex-direction: column;
}