.aside {
    // background: #0f0c29;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #3b3b75, #302b63, #19153b);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #444475, #302b63, #1b1641); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
    
    background: linear-gradient(to top,$jacarta-300,$jacarta-600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      


    border-radius: 0.3rem;
    font-family: $fuentePrimaria;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 0.5em;
    width: 20%;
    padding: 0.4em;
    margin: 0.5rem 0 0 0.5rem;
    color: white;
    a{  
        color: $jacarta-500;
        &:hover{
            color: $jacarta-800;
        }
    }
}

.imgUsuario {
    border: solid rgb(255, 253, 253) 2px;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.informacionUsuario {
    li {
        list-style: none;
        font-size: 1.2rem;
    }
}