.header{
    // background: #333244;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
   
    background: #333244;  /* fallback for old browsers */
    background: linear-gradient(to right,$jacarta-800, $jacarta-600, $jacarta-800); 
   
    font-family: $fuentePrimaria;
    color: white;
    .logito{
        
        padding: 0.5em;
        font-size: 1.5rem;
        text-align: center;
    }
}

.nav{
    .navLink{  
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.5em 0;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
                display: block;
                position: relative;
                svg{
                    width: 2rem;
                }
                strong{
                    font-size: 1.3rem;
                    border: dashed rgb(143, 228, 5);
                    padding: 0.2em 0.4em 0.1em 0.4em;
                    border-radius:50%;
                    position: absolute;
                    top: -1.2rem;
                    right: -1.2rem;
                }
            }
        }   
    }
    .buscardorFiltros{
        //border: solid red 1px;
        background-color: white;
        color: #0f0c29;
        padding: 0.5em 0.4em ;
        font-family:$fuentePrimaria;
        display: flex;
        gap: 1rem;
        .buscador{
           // border: red solid 1px;
            position: relative;
            display: flex;
            align-items: center;
           
            .inputBuscador{
                border-radius: 2rem;
                border: solid $jacarta-700  1px;
                font-size: 1.5rem;
                padding: 0.1em 0.2em 0.1em 1.2em;   
            }
            svg{
                fill: $jacarta-950;
                width: 1.2rem;
                position:absolute;
                left: 8px;
            }
        }
        
        .selector{
            font-size: 1.2rem;
            color: $jacarta-700;
            border-color: $jacarta-700;
            border-radius: 1rem;
            transition: all linear 0.2s;
            &:hover{
                background-color: $jacarta-50;
            }
        }
    }
}