.header{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: $fuentePrimaria;
    color: white;
    .logito{
        
        padding: 0.5em;
        font-size: 1.5rem;
        text-align: center;
    }
}

.nav{
    .navLink{  
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.5em 0;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
                display: block;
                position: relative;
                svg{
                    width: 2rem;
                }
                strong{
                    font-size: 1.3rem;
                    border: dashed rgb(143, 228, 5);
                    padding: 0.2em 0.4em 0.1em 0.4em;
                    border-radius:50%;
                    position: absolute;
                    top: -1.2rem;
                    right: -1.2rem;
                }
            }
        }   
    }
    .buscardorFiltros{
        background-color: white;
        color: #0f0c29;
        padding: 0.5em 0.4em ;
        font-family:$fuentePrimaria;
        .buscador{
            border: solid #0f0c29  1px;
            font-size: 1.5rem;
            padding: 0.2em 0em 0.1em 0.5em;
            border-radius: 5rem;
        }
        .selector{
            font-size: 1.2rem;
        }
    }
}