.main{
    border: 1px rgb(62, 47, 47) solid;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.cuerpoMain{
    //border: solid red 1px;
    width: 80%;
    font-family: $fuentePrimaria;
}

.productos{
    //border: solid red 1px;
    padding: 0.5em;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 0.5em;
}

