.mainLogin {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: 100vh;
    color: white;
    font-family: $fuentePrimaria;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formLogin{
    margin-top: 1rem;
    width: 20rem;
    border: white solid 1px;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 1rem;
    text-align: center;
    .inputLogin{
        //border: red solid 1px;
        text-align: start;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        input{
            font-size: 1.2rem;
            border-radius:0.2rem;
            border: none;
            padding: 0.2em;
        }
    }
}

.mensajeError{
    color: red;
    margin-top: 1rem;
}