@mixin resetStyleForm()
{
    &:focus{
        border:solid 1px $jacarta-700 ;
        box-shadow: 0px 0px 2px 0px $jacarta-950;
        color: $jacarta-700;
        background-color: $jacarta-100;
    }
    &::-webkit-scrollbar{
        width: 0px;
    }
}