@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Josefin+Sans:ital,wght@0,300;0,400;1,400&family=Kanit:ital,wght@0,300;1,400&family=Signika:wght@300&display=swap');

$fuentePrimaria:'Josefin Sans', sans-serif;
$jacarta-50: #f2f3fc;
$jacarta-100: #e2e4f7;
$jacarta-200: #cbcef2;
$jacarta-300: #a7afe9;
$jacarta-400: #7e87dc;
$jacarta-500: #5f63d2;
$jacarta-600: #504bc5;
$jacarta-700: #4b41b4;
$jacarta-800: #443a93;
$jacarta-900: #302b63;
$jacarta-950: #282348;