.btnPrimario{
    font-family: $fuentePrimaria;
    background-color: rgb(36, 30, 30);
    border: none;
    padding: 0.5em;
    border-radius: 0.2rem;
    color: white;
    transition: all linear 0.2s;
    
    &:hover{
       
        color: invert($color: white);
        background-color:invert($color:  rgb(133, 129, 129));
  
    }
}

