.cardContePro{
   // border: rgb(255, 0, 179) solid 1px;
    box-shadow: 0px 0px 1rem 0rem rgb(126, 113, 126);
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0em;
}

.cardContImg{
    //border: blue 1px solid;
    width: 90%;
    overflow: hidden;
    img{
        width: 100%;
        transition: all ease-in-out 0.5s;
        &:hover{
            transform: scale(1.02);
        }
    }
    
}

.cardInfo{
    width: 100%;
   // border: rgb(60, 255, 0) solid 1px;
    display: flex;
    padding: 0.5em;
}

.cardInfoLabel{
    //border: solid blue 1px;
    margin: 0.2em 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    textarea{
        width: 100%;
        resize: vertical;
        outline: none;
        padding: 0.2em;
        @include resetStyleForm();
    }
    input{
        outline: none;
        border-width:1px;
        padding: 0.2em;
        @include resetStyleForm();
    }
}
.cardInfoLabelV0{
    //border: solid red 1px;
    width: 80%;
    margin: 0.2em 0;
    input{
        margin:0 0.5em ;
    }
}   

.cardInfoFooter{
    width: 100%;
    //border: rebeccapurple solid 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

/**carrito*/
.cardConteProCarr {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-image: radial-gradient($jacarta-800, white) 1;
    display: flex;
    width: fit-content;
}

.imgProCarrito {
    //border: solid 1px yellow;
    width: 10rem;
    img {
        width: 100%;
    }
}

.cardinfoProCarrito {
    //border: solid green 1px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20rem;
}

.cardCantidadProductos{
    //border: yellow solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.cardPrecioTotal{
    //border: red solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: 2rem;
}